@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Inter:wght@400;600;700;800;900&display=swap');

:root {
    font-family: 'Inter', sans-serif;
    --accent-primary: #28aae0;
    --accent-primary-0: #28aae000;
    --accent-primary-25: #28aae025;
    --accent-primary-50: #28aae050;
    --accent-primary-75: #28aae075;
    --accent-primary-gradient-stop: #0080b5;
    --accent-secondary: #1b1564;
    --header-background: #f0f0f0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Inter Tight', sans-serif;
}

.primary {
    color: var(--accent-primary);
}

.secondary {
    color: var(--accent-secondary);
}

.logomark-home-gradient-stop1 {
    stop-color: var(--accent-primary);
}

.logomark-home-gradient-stop2 {
    stop-color: var(--accent-primary-gradient-stop);
}

.logomark-d {
    fill: var(--accent-secondary);
}

.wordmark {
    font-family: 'Inter Tight', sans-serif;
    font-size: x-large;
    font-weight: 800;
}

.navbar {
    background-color: #fff;
    padding: 1rem 0;
}

.navbar-content {
    max-width: calc(100% - 16rem);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo > * {
    margin-right: 0.25rem;
}

.navbar-menu-list {
    display: flex;
    list-style: none;
}

.navbar-menu-list > li {
    margin-left: 0.75rem;
}

.navbar-button {
    color: var(--accent-secondary);
    background-color: var(--accent-primary-0);
    padding: 0.3em 0.6em;
    border-radius: 1.6em;
    text-decoration: none;
    transition: background-color 100ms ease, color 100ms ease;
}

.navbar-button:hover {
    color: #000;
    background-color: var(--accent-primary-25);
}

.navbar-button:active {
    outline: 0.1em solid var(--accent-secondary);
}

.button {
    color: var(--accent-secondary);
    box-sizing: content-box;
    background-color: var(--accent-primary-50);
    padding: 0.5em 0.75em;
    border-radius: 2em;
    text-decoration: none;
    transition: background-color 100ms ease, color 100ms ease;
}

.button:hover {
    color: #000;
    background-color: var(--accent-primary-25);
}

.button:active {
    outline: 0.1em solid var(--accent-secondary);
}

.hero {
    background: fixed padding-box url('img/hero.jpg') center/cover;
    padding-top: 10vh;
}

.hero-content {
    max-width: 33%;
    min-height: 70vh;
    margin-left: 8rem;
}

.hero-title {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 0.2em;
}

.hero-subtitle {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 2em;
}

.hero-tour {
    color: white;
    background-color: #ffffff00;
    outline: 0.1em solid white;
    font-size: 2rem;
}

.hero-tour:hover {
    color: #000;
    background-color: white;
    outline: 0.1em solid #ffffff00;
}