@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Inter:wght@400;600;700;800;900&display=swap');

:root {
    font-family: 'Inter', sans-serif;
    --accent-primary: #28aae0;
    --accent-primary-0: #28aae000;
    --accent-primary-25: #28aae025;
    --accent-primary-50: #28aae050;
    --accent-primary-75: #28aae075;
    --accent-primary-gradient-stop: #0080b5;
    --accent-secondary: #1b1564;
    --header-background: white;
    --footer-background: black;
    --max-content-width: calc(100% - 12vw);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.2em;
    font-family: 'Inter Tight', sans-serif;
}

.primary:not(g) {
    color: var(--accent-primary);
}

.secondary:not(g) {
    color: var(--accent-secondary);
}

.white:not(g) {
    color: white;
}

.black:not(g) {
    color: black;
}

.bg-primary:not(g) {
    background-color: var(--accent-primary);
}

.bg-secondary:not(g) {
    background-color: var(--accent-secondary);
}

.bg-white:not(g) {
    background-color: white;
}

.bg-black:not(g) {
    background-color: black;
}

.logomark-home.white {
    fill: white;
}

.logomark-home-gradient-stop1 {
    stop-color: var(--accent-primary);
}

.logomark-home-gradient-stop2 {
    stop-color: var(--accent-primary-gradient-stop);
}

.logomark-d {
    fill: var(--accent-secondary);
}

.logomark-d.white {
    fill: white;
}

.wordmark {
    font-family: 'Inter Tight', sans-serif;
    font-size: x-large;
    font-weight: 800;
}

/* Navbar */

.navbar {
    background-color: var(--header-background);
    padding: 1rem 0;
}

.navbar-content {
    max-width: var(--max-content-width);
    margin: 0 auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    text-decoration: none;
}

.logo.wordmark-logo {
    align-items: center;
}

.logomark + .wordmark {
    margin-left: 0.25rem;
}

.menu-list {
    display: flex;
    list-style: none;
}

.navbar-menu-list {
    flex-direction: row;
}

.navbar-menu-list > li {
    margin-left: 0.8rem;
}

.footer-menu-list {
    flex-direction: column;
}

.footer-menu-list > li {
    margin-bottom: 0.8rem;
}

.button {
    text-decoration: none;
    border-radius: 2em;
    transition: background-color 100ms ease, color 100ms ease;
}

.button.link {
    color: var(--accent-secondary);
    background-color: var(--accent-primary-0);
    padding: 0.3em 0.6em;
}

.button.link:hover {
    color: black;
    background-color: var(--accent-primary-25);
}

.button.link:active {
    outline: 0.1em solid var(--accent-secondary);
}

.button.link2 {
    background-color: #ffffff00;
    padding: 0.3em 0.6em;
}

.button.link2:hover {
    background-color: #ffffff25;
}

.button.link2:active {
    outline: 0.1em solid white;
}

.content {
    max-width: var(--max-content-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Hero */

.hero {
    background: fixed padding-box url('img/hero.jpg') center/cover;
    padding-top: 10vh;
}

.hero-content {
    max-width: 640px;
    min-height: 70vh;
    margin-left: 6vw;
}

.hero-title {
    color: white;
}

.hero-subtitle {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2em;
}

.button.tour {
    font-size: 1.75rem;
    padding: 0.6em 0.8em;
    outline: 0.1em solid white;
}

.button.tour:hover {
    color: black;
    background-color: white;
    outline: 0em solid;
}

/* Main */

.homes {
    padding: 2rem 0;
}

.homes-subtitle {
    margin-bottom: 2em;
}

.card-container {
    display: flex;
    overflow-x: scroll;
}

.card {
    min-width: calc(40% - 1rem);
    background-color: #f0f0f0;
    border-radius: 1rem;
    border: 0.1em solid rgba(128, 128, 128, 0.50);
    overflow: hidden;
}

.card:not(:first-child) {
    margin-left: 1rem;
}

.card-img {
    min-width: 100%;
    max-width: 100%;
    object-fit: contain;
}

/* Footer */

.footer {
    background-color: var(--footer-background);
    padding: 2rem 0;
}

.footer-content {
    max-width: var(--max-content-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.button.contact {
    padding: 0.5em 0.75em;
    outline: 0.1em solid white;
}