header {
    background-color: darkgrey;
}

img {
    max-width: 100%;
}

.logo {
    width: 600px;
}

nav.main-nav {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

body {
    margin: 0;
}

.main-nav a {
    display: inline-block;
    padding: 2rem;
    color: white;
    text-decoration: none;
}

.main-nav ul {
    list-style: none;
    width: 60%;
}

.hero {
    height: 85vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    background-image: url(Website-Images/apartment-1853196_1920.jpg);
    justify-content: center;
    align-items: center;
}

.hero-content {
    background-color: black;
    width: 20%;
    color: white;
    border-radius: 2rem;
    padding: 1rem;
    text-align: center;
}

.Tag-Content {
    color: white;
}

main {
    background-color: rgb(61, 64, 66);
    color: white;
    display: flex;
    flex-wrap: wrap;;
}

main section:first-child {
    width: 100%;;
    text-align: center;
}

section hr {
    width: 100px;
}

Section:nth-child(3) {
    background-color: lightgray;
    width: 100%;
    display: flex;

}